h1, h2, h3, h4, h5, h6 {
  font-family: "ClashDisplay", sans-serif;
}

p {
  font-family: "Epilogue", sans-serif;
}

button {
  border-radius: 0px ;
}

/* .text-neutral {
  color: #D6DDEB;
} */






